<div class="form-area">
    <h1>Post Form</h1>

    <input type="text" placeholder="Post Title" [(ngModel)] = "postTitle">
    <br><br>
    <textarea placeholder="Post Details" id="" cols="30" rows="10" [(ngModel)] = "postDetails"></textarea>
    <br><br>
    <input type="text" placeholder="Post Image" [(ngModel)] = "imageUrl">
    <br><br>
    <input type="text" placeholder="Post Url" [(ngModel)] = "postUrl">
    <br><br>
    <input type="checkbox" [(ngModel)] = "addBackground"> Add background
    <br><br>
</div>

<div class="preview-area">
    <img [src]="imageUrl" alt="">
    <h1> <span [class.add-background] = "addBackground">{{ postTitle }}</span> </h1>
    <p> {{ postDetails }} </p>
    <a [href]="postUrl" target="_blank" [style.display]="postUrl ? 'block' : 'none'">More Details</a>
</div>