<h2>Challenge 4 - Reactive Form</h2>

<div class="form-area container mt-5">
  <form [formGroup]= 'form' (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>First name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Full name"
        name="fullName"
        formControlName= 'fullName'
      />

      <div class="alert alert-danger" *ngIf= "form.get('fullName').touched && form.get('fullName').invalid">
        <div *ngIf= "form.get('fullName').errors?.['required']">Full name is required</div>
        <div *ngIf= "form.get('fullName').errors?.['minlength']">Full name must be atleast 5 characters</div>
      </div>

    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        name="email"
        formControlName= 'email'
      />

      <div class="alert alert-danger" *ngIf= "Email.touched && Email.invalid">
        <div *ngIf= "Email.errors?.['required']">Email is required</div>
        <div *ngIf= "Email.errors?.['email']">Invalid email</div>
      </div>

    </div>

    <!-- Contact details nested Form Group -->
    <div formGroupName= 'contactDetails'>
      <div class="form-group">
        <label>Address</label>
        <textarea
          placeholder="Address"
          class="form-control"
          cols="30"
          rows="10"
          name="address"
          formControlName= 'address'
        ></textarea>
  
        <div class="alert alert-danger" *ngIf= "Address.touched && Address.invalid">
          <div *ngIf= "Address.errors?.['required']">Address is required</div>
        </div>
  
      </div>
  
      <div class="form-group">
        <label>Shipping Address</label>
        <textarea
          placeholder="Shipping address"
          class="form-control"
          cols="30"
          rows="10"
          name="shippingaddress"
          formControlName= 'shippingAddress'
        ></textarea>
  
        <div class="alert alert-danger" *ngIf= "ShippingAddress.touched && ShippingAddress.invalid">
          <div *ngIf= "ShippingAddress.errors?.['required']">Shipping address is required</div>
        </div>
  
      </div>
  
      <div class="form-group">
        <label>Contact No</label>
        <input
          type="text"
          class="form-control"
          placeholder="Contact No"
          name="contact"
          formControlName= 'contactNo'
        />
  
        <div class="alert alert-danger" *ngIf= "Contact.touched && Contact.invalid">
          <div *ngIf= "Contact.errors?.['required']">Contact is required</div>
          <div *ngIf= "Contact.errors?.['pattern']">Invalid contact</div>
        </div>
  
      </div>

      <div class="form-group">
        <label>Skills</label>
        <input type="text" class="form-control" #skill (keyup.enter)= 'addSkills(skill)'>

        <ul class="list-group">
          <li class="list-group-item" *ngFor= "let skill of Skills.controls; let i= index">
            {{ skill.value }}
            <a class="btn btn-sm btn-danger" (click)= "removeSkills(i)"> X </a>
          </li>
        </ul>
      </div>
    </div>

    <button class="btn btn-primary mb-5" type="submit" [disabled]= "form.invalid">Submit</button>
  </form>
</div>
