<app-challenge1></app-challenge1>

<app-navbar></app-navbar>

<h1 [class.text-red] = "bool">Angular App</h1>

<h1 [style.color] = "bool? 'red' : 'blue'">Style Binding</h1>

<!-- Event Binding -->
<button (click)="buttonClick()">Click Me</button>

<!-- Event Filtering -->
<input type="text" (keyup.enter) = "onKeyup()"> <br>

<!-- Template Variable 
<input type="text" (keyup) = "onKeyup2(username.value)" #username > -->

<input type="text" [(ngModel)] = "userName" (keyup.enter) = "onKeyup2()"> <br>

<!-- one-way and two-way data binding -->
<input type="text" [value] = 'textValue' (keyup.enter) = "onKeyup2()">

<input type="text" [(ngModel)] = "textValue"  (keyup.enter) = "onKeyup2()">

<p>{{ message }}</p>

<app-post [fromParent]='parentMessage' (messageEvent)='receivedMessage($event)'></app-post>

<p>{{ fromChildOutput }}</p>

<p>{{ message2 }}</p>

<!-- Property Binding -->
<img src="{{ imgUrl }}" alt="">
<img [src]="imgUrl" alt="">