<!-- Task -->

<div class="form-area">
    <h3>User Details</h3>
    <input type="text" placeholder="Name" [(ngModel)] = 'name'>
    <br><br>
    <input type="email" placeholder="Email"  [(ngModel)] = 'email'>
    <br><br>
    <textarea placeholder="Address" cols="30" rows="10"  [(ngModel)] = 'address'></textarea>
    <br><br>
    <button (click) = "onClick()">Save Data</button>
</div>

<div *ngIf = "userArray.length > 0; else noData">
    <div class="table-area">
        <table width="500">
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Action</th>
            </thead>
    
            <tr *ngFor="let user of userArray; let index = index">
                <td>{{ index + 1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address }}</td>
                <td><button (click) = "onDelete(index)">Delete</button></td>
            </tr>
        </table>
    </div>
</div>

<ng-template #noData>
    <h4>No data to show</h4>
</ng-template>